<% provide(:title, @product.name) %>
<% provide(:page_title, @product.name) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'picture_slider', product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <% if @product.taxons.first.present? %>
                <li>
                  <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to potepan_path do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>TOPへ戻る
                  <% end %>
                </li>
              <% end %>
              <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <span class="quick-drop">
              <select name="guiest_id3" id="guiest_id3" class="select-drop">
                <option value="0">S</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </select>
            </span>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <%= render 'add_cart' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related', related_product: @related_products %>
  </div>
</section>
