<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent cleatfix">
  <div class="container">
    <%= render 'popular_categories' %>
    <%= render 'new_products' %>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'layouts/footer_light' %>
